/* See the Tailwind configuration guide for advanced usage
   https://tailwindcss.com/docs/configuration */

@import "tailwindcss" source(none);
@source "../../deps/ash_authentication_phoenix";
@source "../css";
@source "../js";
@source "../../lib/inforschool_web";

/* A Tailwind plugin that makes "hero-#{ICON}" classes available.
   The heroicons installation itself is managed by your mix.exs */
@plugin "../vendor/heroicons";

/* daisyUI Tailwind Plugin. You can update this file by fetching the latest version with:
   curl -sLO https://github.com/saadeghi/daisyui/releases/latest/download/daisyui.js
   Make sure to look at the daisyUI changelog: https://daisyui.com/docs/changelog/ */
@plugin "../vendor/daisyui" {
  themes: false;
}

/* daisyUI theme plugin. You can update this file by fetching the latest version with:
  curl -sLO https://github.com/saadeghi/daisyui/releases/latest/download/daisyui-theme.js
  We ship with two themes, a light one inspired on Phoenix colors and a dark one inspired
  on Elixir colors. Build your own at: https://daisyui.com/theme-generator/ */
@plugin "../vendor/daisyui-theme" {
  name: "dark";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: #1A2027;
  --color-base-200: #252D37;
  --color-base-300: #313A46;
  --color-base-content: #FFFFFF;
  --color-primary: #248E9C;
  --color-primary-content: #FFFFFF;
  --color-secondary: #E25E36;
  --color-secondary-content: #FFFFFF;
  --color-accent: #F5B82C;
  --color-accent-content: #1D232A;
  --color-neutral: #4A4A4A;
  --color-neutral-content: #FFFFFF;
  --color-info: #3ABFF8;
  --color-info-content: #1D232A;
  --color-success: #36D399;
  --color-success-content: #1D232A;
  --color-warning: #FBBD23;
  --color-warning-content: #1D232A;
  --color-error: #F87272;
  --color-error-content: #1D232A;
  --radius-selector: 2rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@plugin "../vendor/daisyui-theme" {
  name: "light";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: #FFFFFF;
  --color-base-200: #F8F8F8;
  --color-base-300: #F0F0F0;
  --color-base-content: #1D232A;
  --color-primary: #248E9C;
  --color-primary-content: #FFFFFF;
  --color-secondary: #E25E36;
  --color-secondary-content: #FFFFFF;
  --color-accent: #F5B82C;
  --color-accent-content: #1D232A;
  --color-neutral: #4A4A4A;
  --color-neutral-content: #FFFFFF;
  --color-info: #3ABFF8;
  --color-info-content: #1D232A;
  --color-success: #36D399;
  --color-success-content: #1D232A;
  --color-warning: #FBBD23;
  --color-warning-content: #1D232A;
  --color-error: #F87272;
  --color-error-content: #1D232A;
  --radius-selector: 2rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

/* Add variants based on LiveView classes */
@custom-variant phx-click-loading (.phx-click-loading&, .phx-click-loading &);
@custom-variant phx-submit-loading (.phx-submit-loading&, .phx-submit-loading &);
@custom-variant phx-change-loading (.phx-change-loading&, .phx-change-loading &);

/* Make LiveView wrapper divs transparent for layout */
[data-phx-session] {
  display: contents
}

/* This file is for your main application CSS */